@media (min-width: 768px) {
  .navbar-custom {

    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }


body
{
 
  	font-family: helvetica,arial;
  	background: linear-gradient(to right,#818181,#ac8274,#988274);

}

.jumbotron
{
	background: linear-gradient(to right,#818181,#ac8274,#988274);
	text-align: center;

}

h2
{
  color: #FFBD28;
  font-weight: bold;
  text-shadow: 1.2px 1.2px #818181;
  outline-style: dashed;
    outline-color: #d0a6cf;
    outline-width: thick;
    font-family: "Trebuchet MS" "Arial Black" sans-serif;
}