.like {
display:inline-block;
padding:3px 7px;
margin-right:5px;
background:#0E76AC;
color:#fff;
font:bold 12px Tahoma;
text-align:center;
line-height:16px;
}
.like span {
display:inline-block;
border-left:1px solid #eee;
padding-left:4px;
}
.liked {
display:inline-block;
padding:3px 7px;
margin-right:5px;
background:#ddd;
color:#888;
font:bold 12px Tahoma;
text-align:center;
line-height:16px;
}
.liked span {
display:inline-block;
border-left:1px solid #eee;
padding-left:4px;
}